*{
    margin: 0px;
    padding: 0px;

}
.main{
    color: white;
    height: 100vh;
    width: 100vw;
    background-color:black;
    position: absolute;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    color:orange;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: rgb(199, 199, 211);
    position: absolute;
    mix-blend-mode: difference;
}