@import "tailwindcss";


#nav{

position: relative;
}

#nav::after{
    content: "";
position: absolute;
left: 0;
bottom: 0;
height: 4px;
width: 0;
background: rgb(169, 27, 114);
transition: all ease 0.3s;
}
#nav:hover::after{
    width: 100%;
}

#inp{
     width: 100%;
    background: rgb(147, 146, 180);
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   max-width: 800px;
}
#bg{
    background-size: cover;
    background-position:  center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}